body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    padding: 40px;
    max-width: 400px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #181818;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #ffffff;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #181818;
    color: white;
    font-size: 16px;
    border: solid;
    border-radius: 5px;
    border-color: white;
    cursor: pointer;
}

#gFonts {
    font-family: "Audiowide", sans-serif;
    color: #ffffff;
}
